* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Oxygen;
  src: url(fonts/Oxygen-regular.ttf);
}

:root {
  --container-max-width: 1320px;
  --banner-name: ;
  --headings: ;
  --sub-headings: ;
  --paragraph: ;
  --section-top-down-paddings: ;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

header {
  height: 100dvh;
  width: 100%;
}
nav {
  height: 65%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.banner-image {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bannerimage.jpg);
  background-position: bottom center;
  background-size: cover;
  border-radius: 0 0 150px 150px;
  align-items: center;
}
.navigation-links {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.818),
    rgba(255, 255, 255, 0.145)
  );
  width: fit-content;
}
.indi-nav-link {
  background-color: transparent;
  height: 80px;
  width: 80px;
  border-right: 2px solid rgba(128, 128, 128, 0.303);
  cursor: pointer;
  padding: 20px;
}
.indi-nav-link:last-child {
  border: 0;
}
.indi-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.818);
  transition: 0.4s ease-in-out;
}

.name-hire-me {
  height: 35%;
}
