/* importing of Qxygen fonts from local folder */

/* normal font */
@font-face {
  font-family: Oxygen;
  src: url(../fonts/Oxygen-Regular.ttf);
}

/* Light font */
@font-face {
  font-family: OxygenLight;
  src: url(../fonts/Oxygen-Light.ttf);
}

/* Bold font */
@font-face {
  font-family: OxygenBold;
  src: url(../fonts/Oxygen-Bold.ttf);
}

/* universal selector for defaulting margin and padding to 0 and boxsizing to borderbox */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxygen;
}

/* declaration of different variables */
:root {
  /* container max width */
  --container-max-width: 1320px;

  /* banner name font size */
  --banner-name: 72px;

  /* all headings font size */
  --headings: 48px;

  /* sub headings font sizes */
  --sub-headings: 34px;

  /* paragrapg font sizes */
  --paragraph: 24px;

  /* all section top down padding */
  --section-top-down-paddings: 100px;

  /* bar percentage variable for percentage inside bar */
  --bar-percentage: 75%;

  /* bar percentage variable for percentage string on top of bar */
  --bar-percentage-string: "75%";
}

/* container max width */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

/* header starts */
/* header styling */
header {
  height: 100dvh;
  width: 100%;
}

/* navbar styling contains banner image and nav links */
nav {
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* banner image in header */
.banner-image {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bannerimage.jpg);
  background-position: bottom center;
  background-size: cover;
  border-radius: 0 0 100px 100px;
  align-items: center;
}

/* nav links container */
.navigation-links {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.818),
    rgba(255, 255, 255, 0.145)
  );
  width: fit-content;
}

/* individual nav links stylings */
.individual-nav-link {
  background-color: transparent;

  border-right: 2px solid rgba(128, 128, 128, 0.303);
  cursor: pointer;
}

/* remove border from last nav link */
.individual-nav-link:last-child {
  border: 0;
}

/* navlink hover effect */
.individual-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.818);
  transition: 0.4s ease-in-out;
}

/* inside logo styling */
.individual-nav-link i {
  margin: 25px;
  text-align: center;
  align-content: center;
}

.individual-nav-link i::before {
  font-size: 18px;
  text-align: center;
  align-content: center;
}

.individual-nav-link:hover i {
  color: #f3525a;
  transition: 0.4s ease-in-out;
}

/* profile picture styling */
.profile-picture {
  position: absolute;
  background-color: white;
  height: 60%;
  aspect-ratio: 1/1;
  border: 14px solid white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

/* inside image of profile picture */
.profile-picture img {
  border-radius: inherit;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

/* author name and hire me section styling */
.name-hire-me {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: var(--banner-name);
  font-family: OxygenBold;
  color: #232835;
  margin-bottom: 10px;
  font-weight: bold;
}

.name-hire-me h4 {
  font-size: calc(var(--banner-name) / 3);
  font-family: OxygenLight;
  font-weight: normal;
  color: gray;
  margin-bottom: auto;
}

/* div contains mouse styling and hire me button styling */
.lower-header-bar {
  display: flex;
  margin-bottom: 5dvh;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

/* bottom header mouse */
.mouse {
  position: absolute;
  height: 65px;
  aspect-ratio: 1/1.5;
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.558);
  border-radius: 30px;

  color: #f3525a;
  padding-top: 5px;
  font-size: 16px;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: OxygenBold;
  font-weight: bold;
}

/* hire me button styling */
.lower-header-bar button {
  margin-left: auto;
  height: 66px;
}

/* common class for all website button styling */
.button-hover {
  position: relative;
  aspect-ratio: 2/1;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

/* button before for circle background initially width 50% */
.button-hover::before {
  position: absolute;
  content: "";
  border-radius: 50px;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #232835;
}

/* inside button text styling */
.button-hover p {
  font-size: 16px;
  position: absolute;
  color: #f3525a;
  font-family: OxygenBold;
  z-index: 3;
  top: 50;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* button before for circle background initially width 50%  on hover 100%*/
.button-hover:hover::before {
  width: 100%;
  transition: 0.4s ease-in-out;
}

/* strengths section styling */
.strengths-wrapper {
  padding: var(--section-top-down-paddings) 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* individual strength styling */
.individual-strength {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 5);
  width: 31%;
  border: 1px solid rgba(128, 128, 128, 0.303);
  border-radius: 35px;
  padding: calc(var(--section-top-down-paddings) / 4);
}

.upper-strength {
  display: flex;
  width: 100%;
}

.number-heading {
  display: flex;
  width: 80%;
  flex-direction: column;
}
.number-heading h5 {
  font-size: calc(var(--sub-headings) / 1.3);
  color: #232835;
  margin-bottom: 8px;
  font-family: OxygenBold;
  font-weight: 900;
}
.number-heading h4 {
  font-size: var(--sub-headings);
  color: #232835;
  font-family: OxygenBold;
  font-weight: bold;
}

/* individual strength icons stylings */
.strength-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  transform: translateY(-10px);
}

.strength-logo i.fa-solid.fa-user::before {
  font-size: var(--sub-headings);
}

.lower-strength p {
  font-size: calc(var(--paragraph) - 6px);
  word-spacing: 2px;
  line-height: 1.6;
  color: rgba(128, 128, 128, 0.9);
  font-family: OxygenLight;
  font-weight: 550;
}
/* header section stylings end */

/* about me section stylings start here */
.about-me {
  background-color: #232835;
}

.about-me-wrapper {
  padding: var(--section-top-down-paddings) 0;
  display: flex;
  flex-direction: column;
  gap: var(--section-top-down-paddings);
  width: 100%;
}

/* upper about me div contains image and content of this section */
.upper-about-me {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--section-top-down-paddings) + 20px);
}

/* about me section image */
.upper-about-me img {
  object-fit: cover;
  border-radius: 50px;
  width: 50%;
}

/* about me section content division stylings */
.about-me-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 5);
  justify-content: space-between;
}

/* a line above headings  */
.Above-Headings {
  font-size: calc(var(--sub-headings) - 16px);
  color: rgba(225, 225, 225, 0.75);
  text-transform: uppercase;
  font-weight: normal;
}

/* main heading stylings */
.Headings {
  font-size: var(--headings);
  font-family: OxygenBold;
  font-weight: bold;
  text-transform: capitalize;
}

.about-me-content h4 {
  color: white;
  text-transform: unset;
}

.about-me-content p {
  font-size: calc(var(--paragraph) - 6px);
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.668);
  margin-bottom: 10px;
}

/* about me buttons stylings */
.about-me-buttons {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: calc(var(--section-top-down-paddings) / 2);
}

.about-me-buttons button {
  cursor: pointer;
  padding: 10px 30px;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 50px;
  align-content: center;
  text-align: center;
  border: 0;
  position: relative;
  z-index: 3;
}

.about-me-buttons button p {
  position: relative;
  font-size: 18px;
  font-family: Oxygen;
  color: white;
  text-align: center;
  align-self: center;
  z-index: 3;
}
.about-me-buttons button .circle {
  border-radius: 50px;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #ea4335;
  z-index: 1;
  left: 2px;
  top: -3px;
  transition: 0.4s ease-in-out;
}
.about-me-buttons button:hover .circle {
  aspect-ratio: unset;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

/* numbers division below buttons */
.about-me-numbers {
  display: flex;

  gap: 75px;
}

.individual-about-me-numbers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.individual-about-me-numbers h5 {
  font-size: calc(var(--headings) - 8px);
  color: white;
}

/* lower about me div with website info and their visit links */
.lower-about-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* individual website visit stylings */
.individual-visit-portfolio {
  padding: calc(var(--section-top-down-paddings) / 3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.503);
  border-radius: 15px;
  width: 23%;
}

/* website logos */
.website-logo-name {
  gap: 25px;
  display: flex;
  align-items: center;
}

.website-logo-name i {
  font-size: calc(var(--sub-headings) - 6px);
}

.website-name h5 {
  font-size: calc(var(--sub-headings) / 1.5);
  color: white;
  font-weight: normal;
}

.individual-visit-portfolio p {
  font-size: calc(var(--paragraph) / 1.3);
  color: rgba(255, 255, 255, 0.6);
}

/* website visit buttons stylings */
.individual-visit-portfolio .button-hover::before {
  background-color: #ea4335;
}
.individual-visit-portfolio button {
  height: 30px;
  width: fit-content;
}

.individual-visit-portfolio .button-hover p {
  color: white;
  font-size: 28px;
  padding-bottom: 6px;
}
/* about me section ends here */

/* our services section stylings */
.our-services-wrapper {
  padding: var(--section-top-down-paddings) 0;

  display: flex;
  flex-direction: column;

  gap: calc(var(--section-top-down-paddings) / 1.5);
  width: 100%;
  align-items: center;
}

/* all sections heading stylings */
.Heading-Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.services-heading h4 {
  font-family: OxygenBold;
  font-weight: 700;
}
.services-heading h5 {
  color: rgba(128, 128, 128, 0.9);
}

/* individual services  wrapper stylings */
.individual-service-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* individual services stylings */
.individual-service {
  width: 23%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: calc(var(--section-top-down-paddings) / 2.8);
  gap: calc(var(--section-top-down-paddings) / 3.8);
}

.individual-service h5 {
  font-size: calc(var(--sub-headings) / 1.45);
  color: #232835;
}

.individual-service p {
  font-size: calc(var(--paragraph) / 1.37);
  line-height: 1.8;
  color: rgba(128, 128, 128, 100);
}

/* services icons stylings */
.service-icon i {
  font-size: calc(var(--sub-headings) / 1);
  padding-left: 5px;
  padding-top: 10px;
}

/* services buttons stylings */
.individual-service button {
  height: 33px;
  width: fit-content;
}

.individual-service .button-hover::before {
  background-color: #ea4335;
}

.individual-service .button-hover p {
  color: #232835;
  font-size: 30px;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: OxygenBold;
}

/* watermarks at end of services sectionb */
.services-watermark {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  opacity: 25%;
}

.services-watermark img {
  width: 14%;
}
/* services section ends here */

/* our projects section stylings start */
.our-projects {
  background-color: #232835;
}

.our-projects-wrapper {
  padding: var(--section-top-down-paddings) 0;

  display: flex;
  flex-direction: column;

  gap: calc(var(--section-top-down-paddings) / 1.5);
  width: 100%;
  align-items: center;
}

.our-projects-wrapper .Heading-Wrapper h4 {
  color: white;
}

/* individual project stylings */
.individual-project-wrapper {
  display: flex;
  width: 100%;
  gap: calc(var(--section-top-down-paddings) / 2);
  flex-wrap: wrap;
}

.individual-project {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 5);
  width: calc(50% - calc(var(--section-top-down-paddings) / 4));
}

/* individual project logos */
.individual-project img {
  border-radius: 25px;
}

.individual-project h5 {
  color: white;
  font-size: calc(var(--sub-headings) - 5px);
  text-transform: capitalize;
}

.individual-project p {
  cursor: pointer;
  color: white;
  font-size: calc(var(--paragraph) - 6px);
  font-weight: normal;
  text-transform: capitalize;
}
.arrowgap {
  font-size: calc(var(--paragraph) + 4px);
  margin-left: 10px;
}
/* project section ends */

/* team skills section starts */
.team-skills-wrapper {
  display: flex;
  padding: var(--section-top-down-paddings) 0;
  width: 100%;
  justify-content: space-between;
  gap: calc(var(--section-top-down-paddings) / 1.5);
}

/* sill section content */
.skills-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 2);
}

.skills-content .Heading-Wrapper {
  align-items: flex-start;
}
.skills-content .Heading-Wrapper h5 {
  color: rgba(128, 128, 128, 0.85);
}

.skills-content p {
  font-size: calc(var(--paragraph) - 6px);
  word-spacing: 5px;
  line-height: 1.6;
  color: rgba(128, 128, 128, 0.85);
}

/* skill chart wrapper */
.skills-chart {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 2.5);
}

/* individual skill stylings */
.individual-skill {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 4);
}

.individual-skill h5 {
  color: #232835;
  font-size: calc(var(--sub-headings) - 10px);
  font-family: OxygenBold;
}

/* skill bar stylings */
.bar {
  width: 100%;
  height: 11px;
  position: relative;
  background-color: rgba(128, 128, 128, 0.455);
  border-radius: 50px;
}

/* bar::after for red bar over */
.bar::after {
  content: "";
  position: absolute;
  background-color: #ea4335;
  height: 100%;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  width: var(--bar-percentage);
}

/* bar::before for percentage over the bar */
.bar::before {
  content: var(--bar-percentage-string);
  position: absolute;
  font-size: calc(var(--paragraph) - 6px);
  top: -30px;
  left: calc(var(--bar-percentage) - 3%);
}

/* image div of skills section */
.team-skills-wrapper img {
  object-fit: cover;
  width: 40%;
  border-radius: 50px;
}
/* team skills section ends */

/* our pricing section stylings starts here */
.our-pricings {
  background-color: #232835;
}

.our-pricings-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--section-top-down-paddings) 0;
  gap: calc(var(--section-top-down-paddings) / 1.5);
}

.our-pricings-wrapper .Headings {
  color: white;
}

/* all pricings wrapper */
.all-pricings {
  display: flex;
  justify-content: space-between;
}

/* individual pricings stylings */
.individual-price {
  width: 31%;
  border: 1px solid rgba(255, 255, 255, 0.355);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: calc(var(--section-top-down-paddings) / 2.4);
  gap: calc(var(--section-top-down-paddings) / 2.4);
}

.price {
  display: flex;
  flex-direction: column;
}

.price h4 {
  color: white;
  font-size: var(--sub-headings);
  margin-bottom: 10px;
}

.price h5 {
  color: white;
  font-size: calc(var(--sub-headings) - 11px);
}

/* unordered list stylings for benifits  */
ul {
  display: flex;
  flex-direction: column;
  padding-left: 33px;
  font-size: calc(var(--paragraph) - 6px);
  color: rgba(255, 255, 255, 0.651);
  text-transform: capitalize;
  gap: 10px;
}

/* crosserd lines for not available service */
.cross-line {
  text-decoration: line-through;
}

/* price button stylings */
.individual-price button {
  height: 30px;
  width: fit-content;
}

.individual-price .button-hover::before {
  background-color: #ea4335;
}

.individual-price .button-hover p {
  color: white;
  font-size: 30px;
  padding-bottom: 7px;
}
/* pricing section ends */

/* testimonial section starts */
.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--section-top-down-paddings) 0;
  gap: calc(var(--section-top-down-paddings) / 2);
}
.testimonial-wrapper .Heading-Wrapper h5 {
  color: rgba(128, 128, 128, 0.85);
}

.all-testimonials {
  display: flex;
  justify-content: space-between;
}

/* individual testimonial stylings */
.individual-testimonial {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 5);
  width: 48%;
}

/* author details div */
.author-details {
  display: flex;
  gap: calc(var(--section-top-down-paddings) / 3);
  align-items: center;
}

/* author image div */
.author-details img {
  width: 14%;
  border-radius: 50%;
}

.author-name {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 7);
}

.author-name h5 {
  font-size: calc(var(--sub-headings) - 9px);
  color: #232835;
}

.author-name p {
  font-size: calc(var(--paragraph) - 7px);
  color: rgba(128, 128, 128, 0.85);
}

.individual-testimonial > p {
  font-size: calc(var(--paragraph) - 6px);
  line-height: 1.6;

  color: rgba(128, 128, 128, 0.85);
}

/* bottom slider styling  */
.slider {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.slider span {
  background-color: rgba(128, 128, 128, 0.45);
  height: calc(var(--headings) / 5);
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
}

/* selected slide styling */
.slider span:first-child::before {
  content: "";
  position: absolute;
  border: 2px solid #f3525a;
  border-radius: 50%;
  height: calc(var(--headings) / 3);
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  transform: translateX(-25%) translateY(-25%);
}
/* testimonial section ends here */

/* blogs section stylings starts here */
.blogs {
  background-color: #232835;
}

/* blogs wrapper */
.blogs-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--section-top-down-paddings) 0;
  gap: calc(var(--section-top-down-paddings) / 1.5);
}

.blogs-wrapper .Heading-Wrapper h4 {
  color: white;
}

.all-blogs {
  display: flex;
  justify-content: space-between;
}

/* individual blogs stylings */
.individual-blog {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 6);
  width: 31%;
}

/* indivisual blogs image */
.individual-blog img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;
}

.individual-blog p {
  font-size: calc(var(--paragraph) / 1.5);
  color: rgba(225, 225, 225, 0.75);
}

.blogs-date-margins {
  margin: 0 15px;
}

.individual-blog h5 {
  font-size: var(--paragraph);
  color: white;
  font-weight: normal;
}

.blogs-wrapper .slider span {
  background-color: rgba(255, 255, 255, 0.75);
}

/* blogs section stylings ends here */

/* footer stylings starts here */
footer {
  display: flex;
  flex-direction: column;
}

/* footer wrapper with upper part excluding the copyright part */
.footer-wrapper {
  display: flex;
  width: 100%;
  padding: var(--section-top-down-paddings) 0;
  gap: var(--section-top-down-paddings);
}

/* footer left includes form */
.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 3);
}

.footer-left .Heading-Wrapper {
  align-items: flex-start;
}
.footer-left .Heading-Wrapper h5 {
  color: rgba(128, 128, 128, 0.85);
}

.red {
  color: #ea4335;
}

/* form stylings */
form {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--section-top-down-paddings) / 4);
  width: 100%;
}

.form-label-input {
  width: calc(50% - calc(var(--section-top-down-paddings) / 6));
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-label-input h5 {
  font-size: calc(var(--paragraph) - 6px);
}

.form-input {
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 18px 20px;
  font-size: calc(var(--paragraph) - 8px);
  border-radius: 5px;
  color: rgba(128, 128, 128, 0.15);
}

/* message block width 100% */
.form-label-input:last-child {
  width: 99%;
}

.form-label-input:last-child .form-input {
  aspect-ratio: 5/1;
  position: relative;
}

/* message block place holder styling */
.form-label-input:last-child .form-input::placeholder {
  position: absolute;
  top: 15%;
}

/* send message button stylings */
.footer-left button {
  cursor: pointer;
  padding: 18px 36px;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 50px;
  align-content: center;
  text-align: center;
  border: 0;
  position: relative;
  z-index: 3;
}

.footer-left .circle {
  background-color: #232835;
  border-radius: 50px;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  z-index: 1;
  left: 2px;
  top: -3px;
  transition: 0.4s ease-in-out;
}
.footer-left button p {
  color: #ea4335;
  position: relative;
  font-size: 17px;
  font-family: Oxygen;
  text-align: center;
  align-self: center;
  z-index: 3;
  font-weight: bold;
  padding-bottom: 5px;
}
.footer-left button:hover .circle {
  aspect-ratio: unset;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

/* right footer div with contact us information and social media links */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 2);
  /* justify-content: center; */
  padding-left: 25px;
  padding-top: 175px;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-top-down-paddings) / 2.5);
}

/* individual contact us information */
.individual-contact-info {
  display: flex;
  gap: calc(var(--section-top-down-paddings) / 4);
}

/* contact us logos stylings */
.contact-img {
  height: calc(var(--section-top-down-paddings) / 1.3);
  aspect-ratio: 1/1;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 22px;
  display: flex;
}

.contact-img i {
  margin: auto;
  font-size: calc(var(--section-top-down-paddings) / 3.2);
}

/* individual contact information stylings */
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-content h5 {
  font-size: calc(var(--paragraph) - 5px);
}

.contact-content p {
  color: rgba(128, 128, 128, 0.85);
  font-size: calc(var(--paragraph) - 6px);
}

/* all social media links wrappr */
.social-media-links {
  padding-top: 30px;
  display: flex;
  gap: 23px;
}

/* individual links stylings */
.individual-social-media {
  height: calc(var(--section-top-down-paddings) / 1.7);
  border: 1px solid rgba(128, 128, 128, 0.303);
  border-radius: 50px;
  padding: 10px;
  aspect-ratio: 1/1;
  display: flex;
  cursor: pointer;
}

/* social media logos */
.individual-social-media i {
  margin: auto;
  font-size: 20px;
}
/* upper footer ends */

/* copyright stylings */
.copyright {
  background-color: #232835;
}
.copyright-wrapper {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.copyright-wrapper p {
  color: rgba(255, 255, 255, 0.856);
  font-size: calc(var(--paragraph) / 1.5);
  text-transform: capitalize;
}
.terms-policy {
  display: flex;
  gap: 50px;
}
.terms-policy p {
  cursor: pointer;
}
/* footer stylings ends */

@media (max-width: 1400px) {
  :root {
    /* container max width */
    --container-max-width: 1140px;

    /* banner name font size */
    --banner-name: 72px;

    /* all headings font size */
    --headings: 48px;

    /* sub headings font sizes */
    --sub-headings: 34px;

    /* paragrapg font sizes */
    --paragraph: 24px;

    /* all section top down padding */
    --section-top-down-paddings: 100px;
  }
}

@media (max-width: 1200px) {
  :root {
    /* container max width */
    --container-max-width: 960px;

    /* banner name font size */
    --banner-name: 72px;

    /* all headings font size */
    --headings: 40px;

    /* sub headings font sizes */
    --sub-headings: 30px;

    /* paragrapg font sizes */
    --paragraph: 22px;

    /* all section top down padding */
    --section-top-down-paddings: 70px;
  }

  /* send message button stylings */
  .footer-left button {
    padding: 10px 20px;
  }

  .footer-left .circle {
    left: 2px;
    top: -3px;
  }
  .footer-left button p {
    font-size: 10px;
  }
  .footer-left button:hover .circle {
    aspect-ratio: unset;
    width: 100%;
    transition: all 0.4s ease-in-out;
  }
}

@media (max-width: 992px) {
  :root {
    /* container max width */
    --container-max-width: 720px;

    /* banner name font size */
    --banner-name: 52px;

    /* all headings font size */
    --headings: 24px;

    /* sub headings font sizes */
    --sub-headings: 20px;

    /* paragrapg font sizes */
    --paragraph: 16px;

    /* all section top down padding */
    --section-top-down-paddings: 50px;
  }
  .individual-strength {
    border-radius: 10px;
  }

  .number-heading h5 {
    font-size: calc(var(--sub-headings) / 1.3);
  }
  .number-heading h4 {
    font-size: calc(var(--sub-headings) / 1.1);
  }
  .strength-logo i.fa-solid.fa-user::before {
    font-size: calc(var(--sub-headings) / 1.3);
    padding-right: 12px;
  }
  .Above-Headings {
    font-size: calc(var(--sub-headings) - 11px);
  }
  .about-me-buttons button {
    padding: 5px 20px;
  }
  .about-me-buttons button p {
    font-size: 12px;
  }
  .about-me-numbers {
    gap: 25px;
  }
  .individual-about-me-numbers h5 {
    font-size: calc(var(--headings) - 3px);
  }
  .individual-visit-portfolio {
    padding: calc(var(--section-top-down-paddings) / 4);
  }
  .website-logo-name {
    gap: 15px;
  }

  .website-logo-name i {
    font-size: var(--sub-headings);
  }

  .website-name h5 {
    font-size: calc(var(--sub-headings) / 1.2);
  }
  .individual-visit-portfolio button {
    height: 18px;
  }

  .individual-visit-portfolio .button-hover p {
    font-size: 20px;
    padding-bottom: 4px;
  }
  .individual-visit-portfolio p {
    font-size: calc(var(--paragraph) / 1.5);
  }

  .individual-service button {
    height: 18px;
  }

  .individual-service .button-hover p {
    font-size: 20px;
    padding-bottom: 4px;
  }
  .slider span {
    height: calc(var(--headings) / 6);
  }
  .slider span:first-child::before {
    border-width: 1px;
    transform: translateX(-30%) translateY(-30%);
  }
  .individual-project img {
    border-radius: 10px;
  }
  .team-skills-wrapper img {
    border-radius: 25px;
  }
  .individual-blog img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .footer-right {
    padding-left: 25px;
    padding-top: 100px;
  }
  .contact-img i {
    font-size: calc(var(--section-top-down-paddings) / 5);
  }
  .contact-img {
    padding: 10px;
  }
  .individual-social-media {
    padding: 0px;
  }
  .individual-social-media i {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  :root {
    /* container max width */
    --container-max-width: 540px;

    /* banner name font size */
    --banner-name: 52px;

    /* all headings font size */
    --headings: 24px;

    /* sub headings font sizes */
    --sub-headings: 20px;

    /* paragrapg font sizes */
    --paragraph: 16px;

    /* all section top down padding */
    --section-top-down-paddings: 50px;
  }
  .strengths-wrapper {
    padding: var(--section-top-down-paddings) 0;
    gap: calc(var(--section-top-down-paddings) / 3);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .individual-strength {
    width: 100%;
    border-radius: 15px;
  }
  .upper-about-me {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: calc(var(--section-top-down-paddings) / 2);
  }
  .upper-about-me img {
    width: 100%;
    aspect-ratio: 2/1.2;
    object-position: top center;
  }
  .about-me-content {
    width: 100%;
    flex-direction: column;
  }
  .about-me-numbers {
    gap: 55px;
  }
  .lower-about-me {
    flex-wrap: wrap;
    gap: 20px;
  }
  .individual-visit-portfolio {
    padding: calc(var(--section-top-down-paddings) / 3);
    width: 48%;
  }
  .individual-service-wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
  .individual-service {
    width: 48%;
  }
  .team-skills-wrapper {
    flex-direction: column;
  }
  .skills-content {
    width: 100%;
  }
  .team-skills-wrapper img {
    width: 100%;
    aspect-ratio: 2/1.2;
    object-position: top center;
  }
  .all-pricings {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .individual-price {
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(var(--section-top-down-paddings) / 2);
  }
  .price {
    text-align: center;
  }
  .individual-price button {
    height: 20px;
  }
  .individual-price .button-hover p {
    font-size: 20px;
    padding-bottom: 4px;
  }
  .all-testimonials {
    flex-direction: column;
    gap: 20px;
  }
  .individual-testimonial {
    width: fit-content;
  }
  .all-blogs {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .individual-blog {
    width: 48%;
  }
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    gap: calc(var(--section-top-down-paddings) / 2);
    padding-left: 0px;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
  }
  .footer-contact-info {
    flex-direction: row;
    justify-content: space-between;
  }
  .bar::before {
    top: -15px;
  }
}
@media (max-width: 576px) {
  :root {
    /* container max width */
    --container-max-width: 300px;

    /* banner name font size */
    --banner-name: 36px;

    /* all headings font size */
    --headings: 20px;

    /* sub headings font sizes */
    --sub-headings: 18px;

    /* paragrapg font sizes */
    --paragraph: 16px;

    /* all section top down padding */
    --section-top-down-paddings: 30px;
  }
  .individual-nav-link i {
    margin: 12px;
  }
  .individual-nav-link i::before {
    font-size: 12px;
  }
  .profile-picture {
    height: 40%;
  }
  .lower-header-bar button {
    height: 40px;
  }
  .button-hover p {
    font-size: 10px;
  }
  .mouse {
    position: absolute;
    height: 41px;
    font-size: 12px;
  }
  .individual-visit-portfolio {
    width: 46%;
  }
  .individual-service {
    width: 46%;
  }
  .individual-blog {
    width: 100%;
  }
  .form-label-input {
    gap: 10px;
  }
  .footer-left {
    gap: 20px;
  }
  .footer-contact-info {
    flex-direction: row;

    flex-direction: column;
    justify-content: space-between;
  }
  .copyright-wrapper {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
